{% extends 'principal/base.html' %}
{% load django_tables2 %} 
{% load static %}

{% block cssprincial %} {% endblock %}
 <link href="{% static 'principal/sb-admin-2.css' %}" rel="stylesheet">

{% block livisualizar %} <li class="nav-item active"> {% endblock %}


{% block content %}

<!-- Page Wrapper -->
    <div id="wrapper">
        <div class="container-fluid">

          <!-- Page Heading -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between" style="margin-top:20px">
                  <h6 class="m-0 font-weight-bold text-primary">Informações do Produto</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Filtrar
                      <i class="fa fa-filter fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                    <form action="" method="get", class="filterform">
                        {{ filter.form.as_p }}
                        <input type="submit" value="Filtrar" class="btn btn-primary btn-user btn-block"/>
                    </form>
                    </div>
                  </div>
                </div>
          <!-- Content Row -->
          <div class="row" style = "margin-top: 20px">

            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Produtos Vendidos</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ filter.vendas_count }} unidades</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Valor total das Vendas</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">R${{ filter.vendas_sum|floatformat:2 }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Valor Médio das Vendas</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">R${{ filter.soma|floatformat:2 }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
                {% render_table table %}
        </div>
    </div>

{% endblock %}
